WCF(Server-Client)/WindowsFormsClient/Service References/RateGate/RateServiceImpl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.example.com/wcf-service-client/" elementFormDefault="qualified" targetNamespace="http://www.example.com/wcf-service-client/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RateServiceDummy" />
  <xs:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExchangeRatesByDateRangeByISO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeRatesByDateRangeByISOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RateServiceDummy" minOccurs="0" name="ExchangeRatesByDateRangeByISOResult" nillable="true" type="q1:ExchangeRatesByRangeDataTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ISOCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ISOCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ISOCodesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExchangeRatesByRangeDataTableRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExchangeRatesByRangeDataTableRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getExchangeRatesByRangeDataTableRowResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>