WCF(Server-Client)/WindowsFormsClient/Service References/RateGate/RateServiceImpl1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.example.com/wcf-service-client/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/wcf-service-client/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.com/wcf-service-client/Imports">
      <xsd:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd0" namespace="http://www.example.com/wcf-service-client/" />
      <xsd:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RateServiceDummy" />
      <xsd:import schemaLocation="http://localhost:8080/RateServiceImpl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RateService_ExchangeRatesByDateRangeByISO_InputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeRatesByDateRangeByISO" />
  </wsdl:message>
  <wsdl:message name="RateService_ExchangeRatesByDateRangeByISO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeRatesByDateRangeByISOResponse" />
  </wsdl:message>
  <wsdl:message name="RateService_ISOCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:ISOCodes" />
  </wsdl:message>
  <wsdl:message name="RateService_ISOCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ISOCodesResponse" />
  </wsdl:message>
  <wsdl:message name="RateService_getExchangeRatesByRangeDataTableRow_InputMessage">
    <wsdl:part name="parameters" element="tns:getExchangeRatesByRangeDataTableRow" />
  </wsdl:message>
  <wsdl:message name="RateService_getExchangeRatesByRangeDataTableRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExchangeRatesByRangeDataTableRowResponse" />
  </wsdl:message>
  <wsdl:portType name="RateService">
    <wsdl:operation name="ExchangeRatesByDateRangeByISO">
      <wsdl:input wsaw:Action="http://www.example.com/wcf-service-client/RateService/ExchangeRatesByDateRangeByISO" message="tns:RateService_ExchangeRatesByDateRangeByISO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.example.com/wcf-service-client/RateService/ExchangeRatesByDateRangeByISOResponse" message="tns:RateService_ExchangeRatesByDateRangeByISO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ISOCodes">
      <wsdl:input wsaw:Action="http://www.example.com/wcf-service-client/RateService/ISOCodes" message="tns:RateService_ISOCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.example.com/wcf-service-client/RateService/ISOCodesResponse" message="tns:RateService_ISOCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExchangeRatesByRangeDataTableRow">
      <wsdl:input wsaw:Action="http://www.example.com/wcf-service-client/RateService/getExchangeRatesByRangeDataTableRow" message="tns:RateService_getExchangeRatesByRangeDataTableRow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.example.com/wcf-service-client/RateService/getExchangeRatesByRangeDataTableRowResponse" message="tns:RateService_getExchangeRatesByRangeDataTableRow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>